<div class="mt-5">
    <h1 class="text-center">Xavier Cañizares - Juan Carlos Labre</h1>
    <br>
    <br>
    <h3 class="text-center">Valor 1</h3>
    <input type="text" [(ngModel)]="valor1" style="width: 100%; text-align: right;" class="form-control">
    <p></p>
    <h3 class="text-center">Valor 2</h3>
    <input type="text" [(ngModel)]="valor2"  style="width: 100%;text-align: right;" class="form-control">
    <p></p>
    <h3 class="text-center">Resultado</h3>
    <input type="text" [(ngModel)]="resultado" disabled style="width: 100%;text-align: right;" class="form-control">
    <p></p>
    <div class="container text-center mt-5">
      <button class="btn btn-info btn-lg me-3" (click)="Sumar()" style="width: 40%;">Sumar</button>
      <button class="btn btn-dark btn-lg" (click)="Restar()" style="width: 40%;">Restar</button>
    </div>
</div>
